<!DOCTYPE html>
<html>
  <head>
    <h1>
      <center>
	Your random occupation for today is: <br>
      </center>
    </h1>
    <h2>
      <center>
	{{occupationName}} <br>
      </center>
    </h2>
  </head>
  <body>
    <br><br><br>
    <table style="width:100%">
      <tr>
	<th align = "left">Job Name</th>
	<th>Percentage Occurance</th> 
	<th align = "left">Helpful Link</th>
      </tr>
      {% for key, value in jobList.iteritems() %}
      <tr>
        <td> {{ key }} </td>
	<td><center> {{ value }}% </center></td>
	<td> <a href = "https://google.com"> {{key}}</a> </td>
      </tr>
      {% endfor %}
    </table>
    
  </body>
</html>
